<h1>
  Feedback Form Application:
</h1>
<form class="margin-6rem margin-top-2rem" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.form)">
  <div class="form-group">
    <label for="exampleFormControlInput1">Write your feedback</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="write here">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select the subject that the faculty handled:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Subject 1</option>
      <option>Subject 2</option>
      <option>Subject 3</option>
      <option>Subject 4</option>
      <option>Subject 5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Your rating out of 5</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Write Your feedback about the faculty</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>